# Documentation
*.md linguist-documentation=true
docs/** linguist-documentation=true

# JavaScript source
examples/**/*.js linguist-documentation=false linguist-language=JavaScript linguist-detectable=true